@{
    ViewData["Title"] = "Contato";
    ViewData["Title1"] = "Sua página de Contato";


}

<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Title1"]</h3>
<h3>@ViewData["Message"]</h3>

<p>Avenida Paulo Erlei ALves Abrantes,1325<br> Volta Redonda,RJ, 27,264-260.<br> Telefone: (24) 3340-8400</p>

<p><b> Suporte:</b><a href="suporte@foa.org.br">suporte@foa.org.br</a> <br> <b>Marketing:</b><a href="marketing@foa.org.br"/>marketing@foa.org.br</p>

<div id="unifoa-vestibular-2022-medicina"></div>

<img src="~/Imagens/unifoa-vestibular-2022-medicina.jpg" width="1100" height="350" alt="unifoa-vestibular-2022-medicina">
